.hero-section {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100svh;

  &--main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 2.4rem 4.8rem;
  }

  &--image {
    display: block;
    width: 80%;
  }

  &--illustration {
    width: clamp(3.4rem, 6.5vw, 5.4rem);
    margin-right: 1.4rem;
  }

  // 900px
  @media (max-width: 56.25em) {
    &--main {
      grid-template-columns: 1fr;
      padding: 5rem 2.4rem;
    }

    &--image {
      width: clamp(24rem, 64vw, 34rem);
      grid-row: 1;
    }
  }
}
