.post-preview {
  &-meta-data {
    display: flex;
    align-items: center;
    gap: 4.8rem;
  }

  &-title {
    border-left: 1rem solid var(--color-brown-primary);
    padding: 1.2rem;
    margin-bottom: 3.2rem;

    // & > .post-author-link {
    //   width: 100%;
    // }
  }

  &-tags {
    display: flex;
    align-items: center;

    gap: 1.4rem;
  }
}
