@font-face {
  font-family: "general-sans";
  src: url("./assets/font/GeneralSans-Variable.ttf");
}

:root {
  /* Font */
  --font-primary: "general-sans";

  /* Font weights */
  --font-bold: 700;
  --font-semibold: 600;
  --font-medium: 500;
  --font-default: 400;

  /* Line height */
  --line-height-default: 1;
  --line-height-small: 1.05;
  --line-height-medium: 1.2;
  --line-height-paragraph-default: 1.6;
  --line-height-large: 1.8;

  /* - Font sizes (px) */
  /* 10 / 12 / 14 / 16 (default) / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

  /* - Spacing system (px) */
  /* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

  /* Colors */
  --color-brown-primary: #9c6644;
  --color-brown-secondary: #ddb892;
  --color-brown-tertiary: #ede0d4;
  --color-brown-primary-shade: #6d4730;
  --color-brown-primary-tint: #ceb3a2;

  --color-green-primary: #414833;
  --color-green-secondary: #656d4a;

  --grey-primary: #333;
  --grey-secondary: #555;
  --grey-tertiary: #888;
  --grey-lightest: #6f6f6f;

  --white-primary: #fff;
  --white-secondary: #f7f7f7;
  --white-tertiary: #eee;

  /* Shadow */
  --shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

  /* border radius */
  --border-radius-default: 0.9rem;
  --border-radius-medium: 1.1rem;
}
