* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  // 1700px and above
  @media (min-width: 106.25em) {
    font-size: 100%;
  }

  // 1200px
  @media (max-width: 75em) {
    font-size: 56.25%;
  }

  // 900px
  @media (max-width: 56.25em) {
    font-size: 50%;
  }
}

body {
  font-family: var(--font-primary);
  line-height: var(--line-height-default);
  font-weight: var(--font-default);
  color: var(--grey-secondary);
  font-size: 1.6rem;
}

*:focus {
  outline: none;
  // box-shadow: 0 0 0 0.4rem var(--color-brown-primary-tint);
}

.container {
  max-width: 20rem;
  margin: 0 auto;
}

ul {
  list-style: none;
}
