.heading-primary,
.heading-secondary,
.heading-tertiary {
  color: var(--grey-primary);
  font-weight: var(--font-light);
}

.heading-primary {
  font-size: clamp(3.4rem, 6vw, 100vw);
  line-height: var(--line-height-small);

  // 900px
  @media (max-width: 56.25em) {
    font-size: clamp(3.4rem, 12vw, 5.4rem);
  }
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: var(--line-height-small);
}

.heading-tertiary {
  font-size: 3rem;
  line-height: var(--line-height-medium);
}

.text-primary {
  font-size: 1.8rem;
  line-height: var(--line-height-paragraph-default);
}
