.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.margin-bottom {
  &-sml {
    margin-bottom: 1rem;
  }

  &-mid {
    margin-bottom: 2rem;
  }

  &-big {
    margin-bottom: 3rem;
  }
}
