.heading {
  &-primary,
  &-secondary,
  &-tertiary {
    color: #333;
    line-height: 1.2;
    font-weight: 500;
  }

  &-primary {
    font-size: 6.4rem;
  }

  &-secondary {
    font-size: 3.6rem;
  }

  &-tertiary {
    font-size: 2.4rem;
  }
}

.text {
  &-primary {
    font-size: 1.8rem;
  }

  &-secondary {
    font-size: 1.6rem;
  }

  &-tertiary {
    font-size: 1.4rem;
  }
}

.label {
  &-primary {
    font-size: 2.8rem;
  }

  &-secondary {
    font-size: 1.8rem;
  }

  &-tertiary {
    font-size: 1.2rem;
  }
}

.font {
  &-bold {
    font-weight: 700;
  }

  &-medium {
    font-weight: 500;
  }

  &-light {
    font-weight: 300;
  }
}

.color {
  &-primary {
    color: var(--color-primary);
  }

  &-black-primary {
    color: #333;
  }
}
